* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(45, 131, 45);
}

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  max-width: 992px;
  margin: auto;
}

.nav-bar {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 30px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.nav-bar-link {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav-bar-link:hover {
  background-color: rgb(117, 117, 117);
  cursor: pointer;
}

.nav-bar-link-item {
  color: rgb(184, 184, 184);
}

.banner-image {
  width: 100%;
  margin: 40px 0;
  border-radius: 8px;
}

.main-container {
  margin-bottom: 100px;
}

.content-section {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.content-aside-section {
  width: 25%;
}

.content-main-section {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.text-content-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

.text-content-desc {
  padding: 25px 0 0;
}

.category-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--primary-color);
}

.category-list {
  padding: 15px;
}

.category-list-item {
  list-style: none;
}